@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
html, body, #main {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Poppins;
}

#main {
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: #080808;
}

.section-title h1 {
    font-weight: 500;
}

.btn {
    padding: 20px 50px;
    font-size: 17px;
    border-radius: 50px;
    border: none;
    background: #6cb840;
    color: #fefefe;
    font-weight: 550;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s linear;
    outline: none;
}

header {
    padding: 20px 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
header .nav {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.right-nav, .left-nav {
    width: 42%;
}

.right-nav {
    margin-left: auto;
}
.center-logo {
    width: 16%;
}

.nav .nav-item {
    padding: 0 15px;
    font-size: 19px;
    font-weight: 550;
}

.center-logo .logo-text {
    margin-top: -25px;
}

.center-logo .logo-text h1 {
    font-weight: 300;
    display: block;
}

@media screen and (max-width: 1440px) {
    .nav .nav-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }
    .left-nav, .right-nav {
        display: none !important;
    }
    .center-logo {
        width: 100%;
    }
    .center-logo div {
        text-align: left !important;
        display: flex;
        align-items: center;
    }
    .center-logo h1 {
        margin-bottom: 0;
        padding-left: 10px;
    }
}